.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.contact-form-subheader1 {
  font-weight: bold;
}

#contact-form-root {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.submitButton {
  display: flex;
  align-self: flex-end;
}

.nameSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}