.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #DF7F66;
  font-family: "Gill Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: 45px;
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
}

.contact-form-subheader1 {
  font-weight: bold;
  font-size: larger;
}

.contact-form-subheader2 {
  font-size: medium;
}

#contact-form-root {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.submitButton {
  display: flex;
  align-self: flex-end;
}

.nameSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
  display: flex;
  width: 1440px;
  height: 350px;
}


// navbar styling

.navbar-links {
  display: flex;
  position: absolute;
  top: 0;
  left: 55%;
}

.navLink {
  padding-left: 20px;
  text-decoration: none;
  &:visited {
    color: black;
    text-decoration: none;
  }
  &:link {
    color: black;
    text-decoration: none;
  }
}

// profile styling

.profileBody {
  font-family: 'Montserrat', sans-serif;
}

.profile-topHalf {
  display: flex;
}

.smallImageRoll {
  display: flex;
  justify-content: space-evenly;
}

.smallPicsProfile {
  width: 155.1px;
  height: 155.1px;
}

.profileInfo {
  display: flex;
  width: 700px;
  height: 650px;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 3%;
}

.profileName {
  font-size: 45px;
  font-weight: bolder;
}

.catProfilePic {
  width: 700px;
  height: 650px;
}

.profileCategory {
  font-weight: bolder;
}

.adoptButton {
  display: flex;
}

//Dashboard//

.WelcomePage {
  padding: 45px 0px;
}

.WelcomeHeader {
  background-color: #F0C3B6;
  color: #ffffff;
  padding: 50px;
  font-size: 28px;
  text-align: left;
}

.WelcomeDash {
  margin-left: 300px;
  display: flex;
}

.LeftPanel {
  margin-left: 35px;
  margin-top: 20px;
  font-weight: bold;
  line-height: 22px;
}

.LeftPanel p {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 15px;
  &:hover {
    color: #DF7F66;
  }
}

hr {
  transform: rotate(
    90deg);
  width: 600px;
  margin-top: 100px;
  position: absolute;
}

.PetDash {
  margin-left: 300px;
}

img.ProfilePic {
  height: 200px;
  width: 210px;
  border-radius: 10px;
}