.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.contact-form-subheader1 {
  font-weight: bold;
  font-size: larger;
}

.contact-form-subheader2 {
  font-size: medium;
}

#contact-form-root {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.submitButton {
  display: flex;
  align-self: flex-end;
}

.nameSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
  display: flex;
  position: relative;
  width: 1440px;
  height: 350px;
}

.navbar-links {
  position: absolute;
  top: 0;
  right: 500px;
}